body {
    /*margin: 0;
    padding: 0;*/
    background-color:  #2E2B2B;
    font-family: Arial, Helvetica, sans-serif;
}
/*________Início do CSS da tag hearder.________*/
header {
    background-color: #65150A;
    display: inline-block;
    width: 100%;
}
#logo {
    height: 100px;
    width: 100px;
    border: solid black 2px;
    background-color: white;
    float: left;
}
#login {
    float: right;
    position: absolute;
    top: 40px;
    right: 15px;
    padding: 10px;
    font-weight: bolder;
}
a#login:link, a#login:visited, a#login:hover, a#login:active {
    color: black;
    text-decoration: underline;
    background-color: white;
}
a#login:visited {
    color: blue;
}
a#login:hover {
    color: cornflowerblue;
}
a#login:active {
    color: red;
}
/*________Fim do CSS da tag hearder.________*/
/*________Início do CSS da tag main.________*/
main {
    height: 100%;
    width: 100%;
}
.pecas {
    background-color: #211E1E;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 5px;
}
.pedreira {
    color: white;
    background-color: #211E1E;
    border: 2px solid black;
    width: 50%;
    height: 100px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
}
#funcoes {
    margin-top: 50px;
    display:inline-flex;
    width: 100%;
}
#boxpesquisa{
    width: 95%;
}
#pesquisa{
    color: white;
    background-color: #211E1E;
    border: 2px solid  black;
    margin-left: 6px;
    width: 60%;
    height: 100%;
}
#filtrar{
    text-align: center;
    color: white;
    background-color: #211E1E;
    border: 2px solid  black;
    margin-left: 4%;
    width: 15%;
}
#ordenar{
    text-align: center;
    color: white;
    background-color: #211E1E;
    border: 2px solid  black;
    margin-left: 2%;
    width: 15%;
}
#prod {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.itens{
    margin: 2%;
    height: 13%;
    width: 95%;
    background-color: #211E1E;
    border: 2px solid  black;
    color: white;
    display: flex;
    flex-wrap: row;
    justify-content: center;
}
#descricao{
    color: aqua;
    text-align: center;
    margin-top: 2.5%;
}
#valor{
    color: yellow;
    text-align: center;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
#valor:hover {
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
#valor:active {
    background-color: black;
    color: white;
    /*transform: translateY(5%);*/
}
/*________Fim do CSS da tag main.________*/
/*________Início do CSS da tag footer.________*/
fieldset {
  width:300px;
  height:250px;
}
vl {
    border-left: 3px solid white;
    height: 120px;
}
/*________Fim do CSS da tag footer.________*/
