
body {
    /*margin: 0;
      padding: 0;*/
    background-color: #2e2b2b;
    font-family: Arial, Helvetica, sans-serif;
  }
  /*________Início do CSS da tag hearder.________*/
  header {
    background-color: #201f1f;
    display: inline-block;
    width: 100%;
    
  }
  #logo {
   height: 100px;
  }

  #logoNome {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: auto;
    padding: 2%;
  }

  #mercham{
    color: white;
    text-align: left;
    margin-top: 35px;
    margin-left: 200px;
  }
  #login {
    text-decoration: none; 
    color: white;
    float: right;
  }
  /*a#login:link,
  a#login:visited,
  a#login:hover,
  a#login:active {
    color: black;
    text-decoration: underline;
    background-color: white;
  }
  a#login:visited {
    color: blue;
  }
  a#login:hover {
    color: cornflowerblue;
  }
  a#login:active {
    color: red;
  }*/
  /*________Fim do CSS da tag hearder.________*/
  /*________Início do CSS da tag main.________*/
  main {
    height: 100%;
    width: 100%;
  }
  
  .pecas {
    background-color: #211e1e;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 150px;
    margin-top: 30px;
    overflow: hidden;
    overflow-x: auto;
  }
  .pedreira {
    color: white;
    background-color: #211e1e;
    border: 2px solid black;
    width: auto;
    height: 100px;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    margin: 10px;
  }
  #funcoes {
    margin-top: 50px;
    display: inline-flex;
    width: 100%;
  }
  #boxpesquisa{
    width: 94%;
  }
#lupa{
    background-color: rgb(231, 215, 215);
}
#lupa:hover {
    background-color: gray;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
#lupa:active{
    background-color:  rgb(231, 215, 215);
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}
  #filtrar {
    text-align: center;
    color: white;
    background-color: #211e1e;
    border: 2px solid black;
    margin-left: 4%;
    width: 15%;
  }
  #ordenar {
    text-align: center;
    color: white;
    background-color: #211e1e;
    border: 2px solid black;
    margin-left: 2%;
    width: 15%;
  }
  #prod {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    border: 3px white solid;
    width: 80%;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
  }
  .itens {
    margin: 2%;
    /*height: 13%;*/
    width: 95%;
    background-color: #211e1e;
    border: 2px solid black;
    color: white;
    display: flex;
    flex-wrap: row;
    justify-content: center;
  }
  #footer{
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 1000;
    left: 1rem;
    top: 1rem;
    background-color: #f00;
  }

  .valorItensBorder {
    border: 3px solid gray;
  }

  .valorItens {
    width: auto;
    height: auto;
    padding: 1%;
  }

  .descricaoItens {
    margin: auto;
    padding: 1%;
    text-align: center;
    margin-top: 2.5%;
  }
  
  #descricao {
    color: aqua;
    text-align: center;
    margin-top: 2.5%;
  }

  /*#valor {
    color: yellow;
    text-align: center;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
  }
  #valor:hover {
    background-color: #4caf50;
    color: white;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
  }
  #valor:active {
    background-color: black;
    color: white;
    /*transform: translateY(5%);
  }*/
  /*________Fim do CSS da tag main.________*/
  /*________Início do CSS da tag footer.________*/
  
  vl {
    border-left: 3px solid white;
    height: 120px;
  }
  /*________Fim do CSS da tag footer.________*/
  
  
  
  #login2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;/*altura visivel navegador*/
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    
  }
  .fundo {
    background-color: #211e1e;
    padding: 40px;
    border-radius: 2px;
    width: 380px;
  }
  
  .fundo-h2 {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
  }
  
  /*.card-header::after {
    content: "";
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
  }*/
  
  .fundo-conteudo label {
    color: #fff;
    font-size: 12px;
    opacity: 0.8;
  }
  
  .fundo-conteudo-area {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
  }
  
  .fundo-conteudo-area input {
    margin-top: 10px;
    padding: 0 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
  }
  
  .fundo-footer {
    display: flex;
    flex-direction: column;
  }
  
  .fundo-footer .submit {
    width: 100%;
    height: 40px;
    background-color: #0f0e0e;
    border: none;
    color: #e1e1e1;
    margin: 10px 0;
  }
  
  .fundo-footer a {
    text-align: center;
    font-size: 12px;
    opacity: 0.8;
    color: #fff;
    text-decoration: none;
  }